html, body, .container, .row { height: 100%; font-family:"Century Schoolbook Regular", 'Century Schoolbook', serif; font-weight:normal; font-style:normal; }
h1 { text-transform: uppercase;font-size: 28px; letter-spacing: 4px; color: #6400e6;}
h2{ font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; letter-spacing: 3px; margin-bottom: 1em;}
a {	color: #6400e6; }
a:hover {color: #6400e6;}
em {font-style: normal; text-decoration: underline;}

/* SPLIT PAGES */
img.portrait {	margin-top: 5px; }
.description > .website { margin-top: 10px; }
.description > .website a { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size: 12px;	color: black; }
.full-width-container { width: 100%; }
.col-md-6 {min-height: 100%;}
.fixed-overlay{	z-index: 1; position: fixed; top: 60px; left: 0; right: 0; height: 0; text-align: center; }
.fixed-overlay > h1 { display: inline-block; text-align: center;}

/* SPEAKER PAGE */
.description { margin-top: 160px; }
.description p{ font-size: 14px; }
.description h2 { font-size: 18px; text-transform: uppercase; }
.speaker_info, .speaker_images { background-color: #e7f2ee; }
#speakers .row {clear:both;}

/* WORKSHOP PAGE */
.workshop_info, .workshop_images { background-color: #fff8d3; }
#workshops .row { clear: both; }
.workshop-meta { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size: 13px; margin-top: 25px;	}
.workshop-meta .col-sm-6 { padding: 0 10px 0 0;}
#workshops h2 { margin-bottom: 6px;}
#workshops h3 { margin-top: 0px; font-size: 16px; margin-bottom: 16px;}
#workshops h4 { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size: 14px; line-height: 1.5em; margin-bottom: 16px;}
#workshops h4.requirements { margin-bottom: 2px; text-decoration: underline; }

/* TICKETS PAGE */
.text-page h1 { margin-top: 80px; margin-bottom: 50px; text-align: center;}
#tickets p {font-size: 16px}
#tickets.container { height: auto;}
#tito-register-form { width: 100%; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size:14px; color: black; margin-top: 40px;}
.tito-ticket-price {font-size: 16px;}
#tito-title { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; display: none;}

/* TERMS OF USE PAGE */
#terms.container { background-color: white;}
#terms h2 {font-size: 20px; margin-bottom: 0.5em; margin-top: 2em; text-transform: uppercase;}
#terms h3 {font-size: 16px; text-decoration: underline; margin-bottom: 5px; }
#terms p {font-size: 16px;}
.text-page .col-md-6 {padding-bottom: 100px;}

/* SCHEDULE PAGE */
#schedule h2 {font-size: 18px; text-transform: uppercase; margin-bottom: 2em; color: #007a80;} 
#schedule p {font-size: 16px}
#schedule td { color: black; padding: 0px 10px; text-align: center; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size:14px; text-transform: uppercase; letter-spacing: 2px}
#schedule th {text-align: center; font-family: "Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size:14px; text-transform: uppercase; padding-bottom: 10px;}
#schedule .workshops {background-color: #b8afce;}
#schedule .discussion { background-color: #311f7a; color: white; }
#schedule .speaker { background-color: #e5ec00; }
#schedule .general { background-color: white; border: 3px solid black;}
#schedule .time {padding-top: 1px; margin-top: 0; font-size: 11px; vertical-align: top;}
#schedule .evening { background-color: #8eb8ba; }
#schedule .afterparty { background-color: #007a80; color: white; }
#schedule .afterparty a { color: white; }
#schedule .orga { background-color: #bfc0bf; }
#schedule tr.main-block {border-top: 1px solid black; }
#schedule table p {font-family:"Century Schoolbook Regular", 'Century Schoolbook', serif; font-weight:normal; font-style:normal; font-size: 13px; margin-top: 2em;}
#schedule em { font-family: "Apercu Regular", Calibri, sans-serif; font-weight:bold; text-decoration: none;}
#schedule a {color: black; }


/* NAVIGATION */
.nav_images { position: absolute; top: 90px; right: 70px; z-index: 3; text-transform: uppercase; color: #6400e6; font-size: 16px; }
.nav_images a { font-size: 14px; }
.nav_images.left { left: 70px; }
#middle_nav { z-index: 1; position: fixed; top: 150px; left: 0; right: 0; height: 0; text-align: center; }
#middle_nav nav { display: inline-block; z-index: 0; }
#middle_nav ul.nav {list-style-type: none; padding-left: 0; text-transform: uppercase; }
#middle_nav ul.nav a {font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size: 18px; letter-spacing: 3px; padding:0;}
#middle_nav ul.nav a:hover {background-color: transparent; text-decoration: underline;}
#middle_nav li.active a { text-decoration: underline; }
.dropdown-menu {background-color: #222; min-width: 200px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color: #444;}

/* NAVBAR */
.navbar .nav li a { font-family:"Century Schoolbook Regular", 'Century Schoolbook', serif; font-weight:normal; font-style:normal; text-transform: uppercase; color: white; font-size: 14px; letter-spacing: 0.1em; padding-right: 0; margin-top: 3px; }
.navbar .nav > li > a:hover, .nav > li > a:focus { text-decoration: underline; background-color: transparent; }
.navbar .nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: transparent; }
.navbar .nav-justified > li { padding-top: 2px; }
.navbar .nav li.active a { color: #e7f2ee; text-decoration: underline; }
.navbar .nav li.active a.about { color: white; }
.navbar .nav li.active a.speakers { color: #e7f2ee; }
.navbar .nav li.active a.workshops { color: #fff8d3; }
.navbar .nav li.active a.venue { color: #e2e8ff; }
.navbar .nav li.active a.tickets { color: #ffd9c4; }
.navbar .nav li.active a.schedule { color: #e2fde7; }


/* FOOTER */
#footer { position: fixed; bottom: 10px; z-index: 1; text-align: center; width: 100%; text-transform: uppercase; font-size: 14px; color: black;}
#footer ul { list-style-type: none; }
#footer li { display: inline-block;	margin-right: 15px; text-transform: uppercase; }
#footer a { color: black; }
#footer p {margin-bottom: 4px;}

/* ABOUT PAGE */
#about p { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; font-style:normal; font-size: 18px; color:#6400e6;}
#about h1 { margin-bottom: 50px; color: black;}
#about .row {background-color: #dadada; position: fixed; width: 100%;}

/* LANDING PAGE */
#start.row {background-color: #3a3640;}
#start .col-lg-1 { height:100%; }
#start .col-md-12 {background: url('../img/background.png') no-repeat center; background-size: cover; background-color: transparent; height: 100%;}
#supporter.row {height: auto; padding-bottom: 100px; padding-top: 30px; background-color: #3a3640;}
#supporter h1 { margin: 70px 0 40px 0;}
#supporter img {margin-bottom: 30px;}

@media (max-width: 992px) {
	.fixed-overlay {position: absolute;}
}

