RewriteEngine On
RewriteBase /2014/

# hide the php file extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ $1.php

#RewriteRule ^([a-zA-Z0-9]+|)/?$ $1.php
